@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.916666666666667vw;
  width: 100%;
  height: auto;
  color:#1E1E1E;
  margin: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  
}

.logo-box{
  padding-left: 4.1667vw;
}

.logo{
  
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.5em;
  color:#4A90E2;
  text-align: center;
  padding: 0.1563vw;
  
}

.ft-logo{
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.8em;
  color:#fff;
  text-align: center;
  padding: 0.1563vw;
  
}


header{
  height: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0.1563vw 0.1042vw 0.1042vw #E0DDDD;
  margin-bottom: 5px;
  
  
  
}

.header{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-content: center;
  height: 3vw;

  
}

.headerbox{
  display: grid;
  grid-template-columns: repeat(3, minmax(31vw, 1fr));
  align-content: space-between;
  padding: 0.5208vw;
  height: 3vw;
  font-weight: 500;
}

.nav{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.acc-btn{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: space-evenly;
  gap: 30px;    /*change it to vw*/

}


.nav nav ul{
  text-decoration: none;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-inline: 1.0417vw ;
  font-size: 1.1em;
  padding: 0.2604vw;
}

.btn{
  width: 5.2083vw;
  height: 1.8vw;
  text-align: center;
  padding: 0.2604vw;
  border-radius: 1.0417vw;
  font-size: 1.05em;
  font-weight: 600;
}

#l-btn{
  color:#4A90E2;
  background-color: #E0DDDD;
}

#s-btn{
  /*margin-right: 3.125vw;*/
  color:#fff;
  background-color:#4A90E2;
}
a{
  text-decoration: none;
}


nav a{
  color:#00000080
}

nav a:visited{
  color:#1E1E1E;
}


nav a:hover, nav a:focus{
  color: #000000;
}


nav a:active{
  color: #000000;
}



main{
  height: auto;
  margin: 10px 0;
  

}

#sec-1{
  height: auto;
}


.hero-box{
 background-image: url('/assets/img/side-view-two-siblings-home-together-playing-laptop\ 1.png');
  background-color: #4A90E2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
   
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 600px ;

}

footer{
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4A90E2;
}

.footer{
  background-color: #4A90E2;
  padding: 100px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.footerbox{
  background-color: #4A90E2;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  justify-content: center;
  align-content: space-between;
  font-weight: 500;
  color:#fff;
}

.ft-logo-box{
  margin-bottom: 20px;
}

.learny_addr{
  justify-items:left ;
}

.l-extra-info{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  gap: 50px;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.content-a{
  margin-bottom: 10px;
}

.content-b{
  margin-bottom: 15px;
}

.cn-heading{
  margin-bottom: 20px;
  font-weight: 700;
}

.l-up-to-date{
  justify-items: right;
}

.s-icon{
  height: 20px;
  width: 20px;
  
}

.phone{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 4px;
}

#ph-icon{
  background-image: url('/assets/img/Group\ 3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border-radius: 50%;
}

.social{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

#X{
  background-image: url('/assets/img/prime_twitter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#facebook{
  background-image: url('/assets/img/Vector.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#insta{
  background-image: url('/assets/img/Group\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#linkedIn{
  background-image: url('/assets/img/Vector\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}