@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.916666666666667vw;
  width: 100vw;
  height: auto;
  
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 2.6042vw 0;
}

.learny_logo,
.sign-in {
  margin: 0 1.5625vw;
}

.sign-in {
  padding: 0 auto;
  width: 32vw;
  height: 35vw;
  border: 0.1563vw solid #fff;
  border-radius: 1.5625vw;
  box-shadow: 0 0.1563vw 0.1042vw 0.1042vw hsla(0, 0%, 54%, 0.793);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-sign-in {
  width: 32vw;
  height: auto;
}

.learny_logo {
  background-image: url("/assets/img/side-view-two-siblings-home-together-playing-laptop\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 39vw;
  height: 39vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learny-text {
  text-align: center;
  font-family: 'Fredoka', 'Poppins';
  font-size: 5.416666666666667vw;
  font-weight: 800;
  color:#4A90E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h2 {
  color: #4a90e2;
  font-size: 2.208333333333333vw;
  text-align: center;
  margin: 0.5208vw auto;
}

.intro {
  margin-left: 2.8646vw;
}

fieldset {
  height: auto;
  width: 32vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5208vw;
  border: 0;
}

.field {
  margin: 0.7813vw auto 0.2604vw;
}

label {
  font-weight: 720;
  color: #585757;
}

input {
  color: #585757;
  display: block;
  margin: 0.7813vw 0.2604vw;
  height: 2.5vw;
  width: 25vw;
  border: 0.1042vw solid #333;
  border-radius: 1.3021vw;
  padding-left: 0.5208vw;
}

input::placeholder {
  text-align: justify;
  font-size: 0.833333333333333vw;
  margin-left: 1.0417vw;
  white-space: nowrap;
}

a {
  color: #4aa3ff;
}

a:hover,
a:focus {
  color: #7fbefd;
}

a:visited {
  color: #2c94fb;
}

.forgot {
  text-align: right;
}

button {
  background-color: #4a90e2;
  color: #fff;
  font-weight: 750;
  font-size: 0.916666666666667vw;
  height: 2.3438vw;
  width: 25vw;
  margin: 0 auto;
  text-align: center;
  border: 0.1042vw solid #4A90E2;
  border-radius: 1.3021vw;
}

.sign-up-p {
  text-align: center;
  margin: 1.5625vw auto;
}
