@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.916666666666667vw;
  width: 100%;
  height: auto;
  color:#1E1E1E;
  margin: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  
}



.logo-box{
  padding-left: 4.1667vw;
}

.logo{
  
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.5em;
  color:#4A90E2;
  text-align: center;
  padding: 0.1563vw;
  
}

.ft-logo{
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.8em;
  color:#fff;
  text-align: center;
  padding: 0.1563vw;
  
}


header{
  height: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0.1563vw 0.1042vw 0.1042vw #E0DDDD;
  margin: 0.2604vw 0;
  
  
  
}

.header{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-content: center;
  height: 3vw;

  
}

.headerbox{
  display: grid;
  grid-template-columns: repeat(3, minmax(31vw, 1fr));
  align-content: space-between;
  padding: 0.5208vw;
  height: 3vw;
  font-weight: 500;
}

.nav{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.user-info-contr{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  overflow: visible;
  

}

.user-info-contr-style{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.user-info-box{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-content: center;
}

.user-box{
  display: grid;
  grid-template-columns:repeat(2, auto) ;
}

.profile-pic{
    background-image: url('/assets/img/default-pic.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2vw;
    width: 2vw;
}

.user-info{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
}

#user{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.user-info #user{
    height: 2vw;
    font-size: 0.95em;
    text-align: center;
    white-space: nowrap;
}

.drop-down-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-down-icon{
  width: 0.8vw;
  height: 0.8vw;
  background-image: url('/assets/img/drop-down.png');
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;


}

.drop-down-icon:hover{
  background-image: url('/assets/img/oui_arrow-up.png');
  background-size: cover;
  width: 1vw;
  height: 1vw;

  
}

/*connect them (up and down) with javascript*/


.hidden-nav{
  display: none;
  z-index: 1;
  border:0.0521vw solid #333;
}


.hidden-nav ul {
  list-style-type: none;
}

.hidden-nav li{
  border-top: 0.0521vw solid #333;
}

.hidden-nav li a {
  display: block;
}

.hidden-nav li a, 
.hidden-nav li a:visited {
  text-decoration: none;
  color: #333;
}


.hidden-nav li a:hover,
.hidden-nav li a:focus {
  background: #333;
  color: whitesmoke;
}


.hidden-nav li:last-child a {
  border-radius: 0 0 0.2604vw 0.2604vw;
}


.nav nav ul{
  text-decoration: none;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-inline: 1.0417vw ;
  font-size: 1.1em;
  padding: 0.2604vw;
}
/*
.btn{
  width: 5.2083vw;
  height: 1.8vw;
  text-align: center;
  padding: 0.2604vw;
  border-radius: 1.0417vw;
  font-size: 1.05em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

a:active .btn{
    width: 5.1083vw;
    height: 1.6vw;
    padding: 0.17005vw;
    border-radius: 0.9417vw;
}

#l-btn{
  color:#4A90E2;
  background-color: #E0DDDD;
}

#s-btn{
  //margin-right: 3.125vw;//
  color:#fff;
  background-color:#4A90E2;
}

*/
a{
  text-decoration: none;
}


nav a{
  color:#00000080
}

nav a:visited{
  color:#1E1E1E;
}


nav a:hover, nav a:focus{
  color: #000000;
}


nav a:active{
  color: #000000;
}


main{
    font-size: 1.6vw;
    padding: 1vw;
}

.m-payment-contr{
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 2.6042vw;
    margin: 0 auto;
}

.plan-intro{
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.4167vw;
    width: 60%;
}

.plan-intro h1{
    color:#4A90E2;
    font-weight: 500;
    font-size: 2.5vw;
}

.plan-intro p{
    font-size: 1.05vw;
}

#p-div{
  width: 90%;
  margin: 0 auto;
}

.plans{
  width: 80%;  
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.contr{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 3.125vw;
  padding-bottom: 6.25vw;
  border-bottom: 0.0521vw solid #58575761;
  width: auto;
}

.box{
  padding: 2vw 2vw 4vw ;
  box-shadow: 0 0.1823vw 0.2083vw 0.0521vw #00000033;
  border-radius: 0.7813vw;
  gap: 0.5208vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tag{
  display: none;
  font-size: 0.9vw;
  width: 10vw;
  height: 2.25vw;
  padding: 0.4vw;
  background-color: #4A90E2;
  color:#fff;
  border-radius: 1.0417vw;
  text-align: center;
  position: absolute;
  top: 0;
}

.cover{
  position: relative;
  padding-top: 1vw;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cover:hover .monthly, .cover:hover .yearly{
  border: 3px solid #4A90E2;
  border-radius: 0.7813vw;
}

#yearly-cover:hover .tag{
  display: initial;
}


.m-p, .y-p{
  margin: 0.7813vw 0;
}

.plan-title{
  margin: 0.5208vw 0;
}

.naira-blk{
    font-size: 1.45vw;
}

.stroke{
  font-size: 1.2vw;
}

.naira{
  font-size: 1.6vw;
}


.medium-b-p{
    font-size: 1vw ;
    color: #4A90E2;
}

.small-b-p{
    font-size: 0.85vw;
    color: #4A90E2;
}

.list{
    list-style-type: none;
    font-size: 1.28vw;
    display: block;
    line-height: 2.8;
    margin: 0.7813vw 0;
}


.inline span, .inline li{
    display: inline-block;
    vertical-align: middle;
    margin-inline: 0.1563vw;
}


.marker{
    background-image: url('/assets/img/mdi_tick-circle-outline.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5vw;
    height: 1.5vw;
}
    
button {
  height: 3.9042vw;
  width: 100%;
  border-radius: 0.9375vw;
  font-size: 1.28vw;
  font-weight: 550;
  background-color: #4A90E2;
  border: 0.0521vw solid #4A90E2 ;
  color: #fff;
  text-align: center;
  
}


button:active{
    height: 3.5542vw;
    width: 94%;
    border-radius: 0.9075vw;
    font-size: 1.24vw;
    margin: 0.1vw 0 0 0.8vw;
  
}


.contr-end{
  font-size: 0.95vw;
  color: #585757;
    display: flex;
    justify-content: center;
    gap: 2.6042vw;
    margin: 0 auto;
    padding: 1.5625vw;
}