@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.916666666666667vw;
  width: 100%;
  height: auto;
  color:#1E1E1E;
  margin: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  
}


.logo-box{
  padding-left: 4.1667vw;
}

.logo{
  
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.5em;
  color:#4A90E2;
  text-align: center;
  padding: 0.1563vw;
  
}

.ft-logo{
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.8em;
  color:#fff;
  text-align: center;
  padding: 0.1563vw;
  
}


header{
  height: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0.1563vw 0.1042vw 0.1042vw #E0DDDD;
  margin: 0.2604vw 0;
  
  
  
}

.header{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-content: center;
  height: 3vw;

  
}

.headerbox{
  display: grid;
  grid-template-columns: repeat(3, minmax(31vw, 1fr));
  align-content: space-between;
  padding: 0.5208vw;
  height: 3vw;
  font-weight: 500;
}

.nav{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.user-info-contr{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  overflow: visible;
  

}

.user-info-contr-style{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.user-info-box{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-content: center;
}

.user-box{
  display: grid;
  grid-template-columns:repeat(2, auto) ;
}

.profile-pic{
    background-image: url('/assets/img/default-pic.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2vw;
    width: 2vw;
}

.user-info{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
}

#user{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.user-info #user{
    height: 2vw;
    font-size: 0.95em;
    text-align: center;
    white-space: nowrap;
}

.drop-down-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-down-icon{
  width: 0.8vw;
  height: 0.8vw;
  background-image: url('/assets/img/drop-down.png');
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;


}

.drop-down-icon:hover{
  background-image: url('/assets/img/oui_arrow-up.png');
  background-size: cover;
  width: 1vw;
  height: 1vw;

  
}

/*connect them (up and down) with javascript*/


.hidden-nav{
  display: none;
  z-index: 1;
  border:0.0521vw solid #333;
}


.hidden-nav ul {
  list-style-type: none;
}

.hidden-nav li{
  border-top: 0.0521vw solid #333;
}

.hidden-nav li a {
  display: block;
}

.hidden-nav li a, 
.hidden-nav li a:visited {
  text-decoration: none;
  color: #333;
}


.hidden-nav li a:hover,
.hidden-nav li a:focus {
  background: #333;
  color: whitesmoke;
}


.hidden-nav li:last-child a {
  border-radius: 0 0 0.2604vw 0.2604vw;
}


.nav nav ul{
  text-decoration: none;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-inline: 1.0417vw ;
  font-size: 1.1em;
  padding: 0.2604vw;
}
/*

.btn{
  width: 5.2083vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#div-btn{
  height: 1.8vw;
  width: 100%;
  text-align: center;
  padding: 0.2604vw;
  border-radius: 1.0417vw;
  font-size: 1.05em;
  font-weight: 600;
}
#div-btn:active{
    width: 94%;
    height: 1.7vw;
    padding: 0.17005vw;
    border-radius: 0.9417vw;
    margin: 0.09vw 0 -0.01vw 0.2vw;
}

.l-btn{
  color:#4A90E2;
  background-color: #E0DDDD;
  border: 1px solid #E0DDDD;
}

.s-btn{
  color:#fff;
  background-color:#4A90E2;
  border: 1px solid #4A90E2;
  
}

*/
a{
  text-decoration: none;
}


nav a{
  color:#00000080
}

nav a:visited{
  color:#1E1E1E;
}


nav a:hover, nav a:focus{
  color: #000000;
}


nav a:active{
  color: #000000;
}

.payment-intro{
  display: flex;
  margin: 10vw 8vw 5vw;
  
  
}

.learny_logo {
  background-image: url("/assets/img/side-view-two-siblings-home-together-playing-laptop\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 9vw;
  height: 9vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learny-text {
  text-align: center;
  font-family: 'Fredoka', 'Poppins';
  font-size: 1.65em;
  font-weight: 800;
  color:#4A90E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.payment-extra{
   padding: 1vw;
}

.payment-extra h2{
  color:#4A90E2;
  font-size: 3em;
  font-weight: 600;
}

.payment-extra p{
  font-size: 1.35em;
  font-weight: 500;
}

.payment-perms{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 1vw;
  width: 70%
}

.card{
  width: 4vw;
  height: 2.2vw;
}

#brand-1{
  background-image: url('/assets/img/Group\ 33.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#brand-2{
  background-image: url('/assets/img/Group\ 32.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#brand-3{
  background-image: url('/assets/img/Group\ 31.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4A90E2;
}

.footer{
  background-color: #4A90E2;
  padding: 5.2083vw 0 2.0833vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.footerbox{
  background-color: #4A90E2;
  width: 85vw; 
  display: grid;
  grid-template-columns: repeat(3, minmax(2.6042vw, 1fr));
  justify-content: center;
  align-content: space-between;
  font-weight: 500;
  color:#fff;
}

.ft-logo-box{
  margin-bottom: 1.0417vw;
}

.learny_addr{
  justify-items:left ;
}

.l-extra-info{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  gap: 2.6042vw;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.content-a{
  margin-bottom: 0.5208vw;
}

.content-b{
  margin-bottom: 0.7813vw;
}

.cn-heading{
  margin-bottom: 1.0417vw;
  font-weight: 700;
}

.l-up-to-date{
  justify-items: right;
}

.s-icon{
  height: 1.0417vw;
  width: 1.0417vw;
  
}

.phone{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 0.2083vw;
}

#ph-icon{
  background-image: url('/assets/img/Group\ 3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border-radius: 50%;
}

.social{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.7813vw;
}

#X{
  background-image: url('/assets/img/prime_twitter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#facebook{
  background-image: url('/assets/img/Vector.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#insta{
  background-image: url('/assets/img/Group\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#linkedIn{
  background-image: url('/assets/img/Vector\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}