@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0417vw;
  width: 100%;
  height: auto;
  color:#1E1E1E;
  margin: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.ft-logo{
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.8em;
  color:#fff;
  text-align: center;
  padding: 0.1563vw;
  
}


.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 2.6042vw 0;
}

.learny_logo,
.sign-in {
  margin: 0 1.5625vw;
}

.sign-in {
  padding: 0 auto;
  width: 40vw;
  height: 58vw;
  border: 0.1563vw solid #fff;
  border-radius: 1.5625vw;
  box-shadow: 0 0.1563vw 0.1042vw 0.1042vw hsla(0, 0%, 54%, 0.793);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-sign-in {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.top-text{
  padding: 1vw;
  height: auto;
  width: 36vw;
  margin: 0 auto;
}

.learny_logo {
  background-image: url("/assets/img/side-view-two-siblings-home-together-playing-laptop\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 39vw;
  height: 39vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learny-text {
  text-align: center;
  font-family: 'Fredoka', 'Poppins';
  font-size: 5.9091em;
  font-weight: 800;
  color:#4A90E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h2 {
  color: #4a90e2;
  font-size: 2.45em;
  margin: 0.5208vw auto;
  line-height: 1.15;
}

.intro{
    font-size: 0.916666666666667vw;
}

fieldset {
  height: auto;
  width: 32vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5208vw;
  border: 0;
}

.field {
  margin: 0.7813vw auto 0.2604vw;
}

label {
  font-weight: 700;
  color: #585757;
}

input {
  color: #585757;
  display: block;
  margin: 0.7813vw 0.2604vw;
  height: 2.5vw;
  width: 33vw;
  border: 0.1042vw solid #333;
  border-radius: 1.3021vw;
  padding-left: 0.5208vw;
}

input::placeholder {
  text-align: justify;
  font-size: 0.916666666666667vw;
  margin-left: 1.0417vw;
  white-space: nowrap;
}

a {
  color: #4aa3ff;
}

a:hover,
a:focus {
  color: #7fbefd;
}

a:visited {
  color: #2c94fb;
}
/*
.forgot {
  text-align: right;
}
*/

input[type="checkbox"]{
  width: 1.0417vw;
  height: 1.0417vw;
  display: inline;
  vertical-align: middle;
}
#f-6.checkbox-text{
  font-weight: 500;
  color: #1E1E1E;
  
}

#f-6.checkbox-text a{
  text-decoration: none;
  
}

.btn{
  width: 31vw;
}

#submit {
  background-color: #4a90e2;
  color: #fff;
  font-weight: 720;
  font-size: 1em;
  height: 2.8438vw;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 0.1042vw solid #4A90E2;
  border-radius: 1.3021vw;
}

#submit:active{
  margin: 0.1vw 0 -0.01vw 0.8vw;
  height: 2.7438vw;
  width: 94%;
  font-size: 0.9em;
}

.sign-up-p {
  text-align: center;
  margin: 1.5625vw auto 4.6875vw;
}

.pswd-input{
  position: relative;
  height: auto;
  width: 100%;
}


#eye-btn{
  width: 1.0417vw;
  height: 1.0417vw;
  background-color: #fff;
  border:0.0521vw solid#fff;
  z-index: 1;
  position: absolute;
  top: 0.7292vw;
  right: 1.3021vw;
  
}

.eye-indicator{
  background-image: url('/assets/img/eye.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.0417vw;
  height: 0.7813vw;
}



footer{
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4A90E2;
}

.footer{
  background-color: #4A90E2;
  padding: 100px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.footerbox{
  background-color: #4A90E2;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  justify-content: center;
  align-content: space-between;
  font-weight: 500;
  color:#fff;
}

.ft-logo-box{
  margin-bottom: 20px;
}

.learny_addr{
  justify-items:left ;
}

.l-extra-info{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  gap: 50px;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.content-a{
  margin-bottom: 10px;
}

.content-b{
  margin-bottom: 15px;
}

.cn-heading{
  margin-bottom: 20px;
  font-weight: 700;
}

.l-up-to-date{
  justify-items: right;
}

.s-icon{
  height: 20px;
  width: 20px;
  
}

.phone{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 4px;
}

#ph-icon{
  background-image: url('/assets/img/Group\ 3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border-radius: 50%;
}

.social{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

#X{
  background-image: url('/assets/img/prime_twitter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#facebook{
  background-image: url('/assets/img/Vector.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#insta{
  background-image: url('/assets/img/Group\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#linkedIn{
  background-image: url('/assets/img/Vector\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
