@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4A90E2;
  font-family: 'Poppins', sans-serif;
  font-size: 0.916666666666667vw;
  width: 100%;
  height: auto;
  color:transparent;
  margin: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.to-be-contd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   color: #fff;
   gap: 1vw;
   padding: 1.5vw;
   border-radius: 0.5vw;
   font-weight: 650;
   opacity: 90%;
   margin: auto;
}

.to-be-contd, .sec-1-find{
    background-color: #3a2ec4;
}

.to-be-contd p{
    font-size: 6em;
    opacity: 0.8;
    font-style: italic;

}

.sec-1-find div{
    background-image: url('/assets/img/ph_magic-wand.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6vw;
    width: 6vw;
    
}

.div-blue{
    background-color: #3a2ec4;
    color: #fff;
}
