@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.916666666666667vw;
  width: 100%;
  height: auto;
  color:#1E1E1E;
  margin: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  
}

a:active .btn , a:active button {
    font-size: calc(99.99%);
    white-space: nowrap;
}


.logo-box{
  padding-left: 4.1667vw;
}

.logo{
  
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.5em;
  color:#4A90E2;
  text-align: center;
  padding: 0.1563vw;
  
}

.ft-logo{
  width: 4.1667vw;
  height: 1.7708vw;
  font-family: 'Fredoka', 'Poppins';
  font-weight: 700;
  font-size: 1.8em;
  color:#fff;
  text-align: center;
  padding: 0.1563vw;
  
}


header{
  height: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0.1563vw 0.1042vw 0.1042vw #E0DDDD;
  margin: 0.2604vw 0;
  
  
  
}

.header{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-content: center;
  height: 3vw;

  
}

.headerbox{
  display: grid;
  grid-template-columns: repeat(3, minmax(31vw, 1fr));
  align-content: space-between;
  padding: 0.5208vw;
  height: 3vw;
  font-weight: 500;
}

.nav{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.user-info-contr{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  overflow: visible;
  

}

.user-info-contr-style{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.user-info-box{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-content: center;
}

.user-box{
  display: grid;
  grid-template-columns:repeat(2, auto) ;
}

.profile-pic{
    background-image: url('/assets/img/default-pic.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2vw;
    width: 2vw;
}

.user-info{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
}

#user{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.user-info #user{
    height: 2vw;
    font-size: 0.95em;
    text-align: center;
    white-space: nowrap;
}

.drop-down-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-down-icon{
  width: 0.8vw;
  height: 0.8vw;
  background-image: url('/assets/img/drop-down.png');
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;


}

.drop-down-icon:hover{
  background-image: url('/assets/img/oui_arrow-up.png');
  background-size: cover;
  width: 1vw;
  height: 1vw;

  
}

/*connect them (up and down) with javascript*/


.hidden-nav{
  display: none;
  z-index: 1;
  border:0.0521vw solid #333;
}


.hidden-nav ul {
  list-style-type: none;
}

.hidden-nav li{
  border-top: 0.0521vw solid #333;
}

.hidden-nav li a {
  display: block;
}

.hidden-nav li a, 
.hidden-nav li a:visited {
  text-decoration: none;
  color: #333;
}


.hidden-nav li a:hover,
.hidden-nav li a:focus {
  background: #333;
  color: whitesmoke;
}


.hidden-nav li:last-child a {
  border-radius: 0 0 0.2604vw 0.2604vw;
}


.nav nav ul{
  text-decoration: none;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-inline: 1.0417vw ;
  font-size: 1.1em;
  padding: 0.2604vw;
}
/*
.btn{
  width: 5.2083vw;
  height: 1.8vw;
  text-align: center;
  padding: 0.2604vw;
  border-radius: 1.0417vw;
  font-size: 1.05em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

a:active .btn{
    width: 5.1083vw;
    height: 1.6vw;
    padding: 0.17005vw;
    border-radius: 0.9417vw;
}

#l-btn{
  color:#4A90E2;
  background-color: #E0DDDD;
}

#s-btn{
  //margin-right: 3.125vw;//
  color:#fff;
  background-color:#4A90E2;
}

*/
a{
  text-decoration: none;
}


nav a{
  color:#00000080
}

nav a:visited{
  color:#1E1E1E;
}


nav a:hover, nav a:focus{
  color: #000000;
}


nav a:active{
  color: #000000;
}



main{
  height: auto;
  margin: 0.0781vw 0;
  

}

.sec-1{
  background-image: url('/assets/img/side-view-two-siblings-home-together-playing-laptop\ 1.png');
  background-color: #4A90E2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.6667vw ;
  padding-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start ;
  align-items: center;
}

.hero-box{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding-top: 4vw;
  

}

.hero{
  width: 52vw;
  line-height: 1.2;
  
}

.landing{
  width: 42vw;
  font-size: 1.5em;
  
}
.hero h1{
  font-size: 6.2em;
}

.hero-btn{
  margin-top: 0.7813vw;
}

.hero-btn button {
  height: 2.9042vw;
  width: 14.8417vw;
  border-radius: 0.5469vw;
  font-size: 1.1em ;
  font-weight: 750;
  background-color: #4A90E2;
  border: 0.0521vw solid #4A90E2 ;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.hero-btn a:active button{
    height: 48px;
    width: 242.5px;
    border-radius: 0.5208vw;
    margin-top: 0.1vw;
}

.sec-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5208vw;
  padding: 2.6042vw 0;
}

.quest{
  text-align: center;
  gap: 2.0833vw;
}
.quest-hd{
  font-size: 2.2em;
}

.quest-p{
  width: 27.0833vw;
  font-size: 1.1em;
}

.age-slc{
  display: grid;
  grid-template-columns: repeat(3, minmax(7.5vw , 1fr));
  font-size: 0.8em;
  align-content: space-evenly ;
  gap: 1.0417vw;
  background-color: #eeeeeeb3;
  border: 0.0521vw solid #eeeeeeb3;
  border-radius: 1.3021vw;
  padding: 0.1302vw;
}

.age{
  font-size: 1.35em;
  background-color: #fff;
  border: 0.0521vw solid #fff;
  border-radius: 0.7813vw;
  color: #0A0041;
  padding: 0.0781vw;
  text-align: center;
}

.age-slc #gp-2, .age-slc #gp-3{
  background-color: #eeeeeeb3;
  border-color: #eeeeeeb3;
  border-radius: 0;
  color:#0a004180;
}

.sec-3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2604vw;
  padding: 2.0833vw 3.125vw 2.0833vw 5vw;
}

.sec-3-hd h2{
  font-size: 2.2em;
}

.sec-3-crs{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.1667vw 0;
}

.course-blk-cntr{
  display: grid;
  grid-template-columns: repeat(4, minmax(16vw,1fr));
  justify-content: center;
  align-content: space-around;
  gap: 6.5vw;
}

.course-blk-box{
  height: 11vw;
  border: 0.0521vw solid #fff;
  border-radius: 1.0417vw;
  box-shadow: 0 0 2.6042vw 0.0521vw #00000026;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.course-blk{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1vw 2vw 0;
  gap: 0.1042vw;
}

.crs-icon-contr{
  padding: 0.1vw 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crs-icon-box{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #A8C5E7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#calc{
  background-image: url('/assets/img/calculator.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #A8C5E7;
  width: 2.8vw;
  height: 2.8vw;
}

#book{
  background-image: url("/assets/img/ep_reading.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #A8C5E7;
  width: 2.8vw;
  height: 2.8vw;
}

#flask{
  background-image: url('/assets/img/flask.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #A8C5E7;
  width: 2vw;
  height: 2vw;
}

#palette{
  background-image: url('/assets/img/mdi_paint-outline.png ');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #A8C5E7;
  width: 2.8vw;
  height: 2.8vw;
}

.crs-name p{
  font-size: 1.2em;
  font-weight: 700;
}

.crs-text{
  width: 8vw;
}
.crs-text p{
  font-size: 0.9em;
}



.sec-4{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2604vw;
  padding: 2.0833vw 3.125vw 2.0833vw 5vw;
}

.sec-4-hd h2{
  font-size: 2.2em;
  text-align: center;
}

.sec-4-steps{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.4667vw 0;
}

.steps-blk-cntr{
  display: grid;
  grid-template-columns: repeat(3, minmax(22vw,1fr));
  justify-content: center;
  align-content: center;
  gap: 6vw;
}

.steps-blk-box{
  height: 18vw;
  border: 0.0521vw solid #fff;
  border-radius: 1.0417vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.step-blk{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1vw 2vw 0;
  gap: 0.1042vw;
}

.step-icon-contr{
  padding: 1vw 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-icon-box{
  width: 8.5vw;
  height: 8.5vw;
  border-radius: 50%;
  background-color: #4A90E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-icon{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
}

.step-name h2{
  font-size: 2.15em;
  font-weight: 700;
  text-align: center;
}

.step-text{
  width: 15vw;
  text-align: center;
}
.step-text p{
  font-size: 0.9em;
}

#sec-5{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.3021vw;
}

.sec-5{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 92.5vw;
}

#sec-5-A{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-left: 5.2083vw;
}


.sec-5-A{
  width: 28.6458vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.8229vw;
}

#sec-5-hd h2{
  font-size: 2.25em;
  
}

#sec-5-p p{
  font-size: 1.32em;
}

.sec-5-contr{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.6667vw;
}

.sec-5-icon-box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.625vw;

}

.info p{
  margin-left: 1.5625vw;
}
.sec-5-icon{
  width: 1.0417vw;
  height: 1.0417vw;
}

#sec-5-ic-a{
  background-image:url('/assets/img/shield.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.3021vw;
  height: 1.3021vw;
}

#sec-5-ic-b{
  background-image:url('/assets/img/Graduate.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


#sec-5-ic-c{
  background-image:url('/assets/img/charm_chart-line.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.2604vw;
}

.info h5{
  font-size: 1.15em;
}

.info p{
  font-size: 0.9em;
}

#sec-5-B{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#sec-5-img{
  background-image: url('/assets/img/mother-working-from-home-medium-shot\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 26.0417vw;
  height: 33.8542vw;
}


.sec-6{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.2604vw;
  padding: 2.0833vw 3.125vw 2.0833vw 5vw;
}

.sec-6-hd h2{
  font-size: 2.2em;
  text-align: center;
}

.sec-6-rating{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2.4667vw 0;
}

.ratings-blk-cntr{
  display: grid;
  grid-template-columns: repeat(3, minmax(12vw,1fr));
  justify-content: center;
  align-content: center;
  gap: 6vw;
}

.ratings-blk-box{
  height: 14vw;
  border: 0.0521vw solid #fff;
  border-radius: 1.0417vw;
  box-shadow: 0 0.3vw 0.0621vw 0.0521vw #00000040;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ratings-blk{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0.25vw 2vw 0;
  gap: 0.8vw;
}

.ratings-review-contr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.96em;
  font-weight: 550;
}

.rating-box{
  font-size: 1.1em;
  text-align: left;
}

.rating-star {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  
}
.rating-star img{
  height: 1vw;
  width: 1vw;
}

.rating-text{
  width: 15vw;
  text-align: left;
  
}
.rating-text p{
  font-size: 1em;
  font-weight: 700;
}


.sec-7{
  padding: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.trial-box{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 0.8vw;
  background-color: #4a90e24a;
  padding: 4vw 0;
  border-radius: 2.6042vw;
  flex-wrap: nowrap;
  

}

.free-trial{
  width: 55vw;
  line-height: 1.2;
  color: #0A0041;
  
}

.trial-landing{
  width: 55vw;
  font-size: 1em;
  text-align: center;
  color: #0A0041;
  
}
.free-trial h1{
  font-size: 2.5em;
  text-align: center;
}

.trial-btn{
  margin-top: 1.2vw;
}

.trial-btn button {
  height: 2.5042vw;
  width: 12.0417vw;
  border-radius: 0.5469vw;
  font-size: 1.1em ;
  font-weight: 750;
  background-color: #4A90E2;
  border: 0.0521vw solid #4A90E2 ;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.trial-btn a:active button{
    height: 2.1875vw;
    width: 10.4167vw;
    border-radius: 0.5208vw;
    margin-top: 0.1vw;
}


footer{
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4A90E2;
}

.footer{
  background-color: #4A90E2;
  padding: 5.2083vw 0 2.0833vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.footerbox{
  background-color: #4A90E2;
  width: 85vw; 
  display: grid;
  grid-template-columns: repeat(3, minmax(2.6042vw, 1fr));
  justify-content: center;
  align-content: space-between;
  font-weight: 500;
  color:#fff;
}

.ft-logo-box{
  margin-bottom: 1.0417vw;
}

.learny_addr{
  justify-items:left ;
}

.l-extra-info{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  gap: 2.6042vw;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.content-a{
  margin-bottom: 0.5208vw;
}

.content-b{
  margin-bottom: 0.7813vw;
}

.cn-heading{
  margin-bottom: 1.0417vw;
  font-weight: 700;
}

.l-up-to-date{
  justify-items: right;
}

.s-icon{
  height: 1.0417vw;
  width: 1.0417vw;
  
}

.phone{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 0.2083vw;
}

#ph-icon{
  background-image: url('/assets/img/Group\ 3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border-radius: 50%;
}

.social{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.7813vw;
}

#X{
  background-image: url('/assets/img/prime_twitter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#facebook{
  background-image: url('/assets/img/Vector.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#insta{
  background-image: url('/assets/img/Group\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#linkedIn{
  background-image: url('/assets/img/Vector\ \(1\).png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}